<!DOCTYPE HTML>
<html>
<head>
    <title>paska sivu idiooteille</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script>
        var channel = {id: ""};

        var chatSse = new EventSource("api/chat");
        chatSse.onmessage = function (evt) {
            var message = JSON.parse(evt.data);
            if(message.channel_id === channel.id)
            {
                var el = document.getElementById("chatDIV");
                var text = "<" + message.username + ">    " + message.content;
                el.appendChild(document.createTextNode(text));
                el.appendChild(document.createElement("br"));
            }
        };

        function sendMessage(){
            var textbox = document.getElementById("textbox")
            var message = {content: textbox.value, channel_id: channel.id}
            textbox.value = "";
            $.post("api/message", message);
        };

        function setChannel(element){
            document.getElementById("chatDIV").innerHTML = "";
            channel.id = element.value;
        };
    </script>
</head>
<body>
    
    <div style="padding:15px">
        <div id="chatDIV" style="padding:15px;height:600px;overflow-y:scroll;"></div>
    </div>
    <table>
        <tr>
            <td>
                <div th:utext="${channels}"></div>
            </td>
            <td style="width:20px;" />
            <td>
                <input id="textbox" type="text">
                <button onclick="sendMessage()">SEND</button>
            </td>
        </tr>
    </table>
</body>
</html>